**/.ipynb_checkpoints/
_site/
Gemfile.lock
*~
#*
*.Rhistory
.jekyll-metadata
.sass-cache

# Ignore confidential data
confidential/

# Ignore publishers lectures
kw_lectures/

# Ignore old assignments from other teachers
writing_assignments/olsen/


.Rproj.user



